<div class="content-new-dose">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-left">
        <h3 class="text-center">Add Dose to <%= @cocktail.name %></h3>
        <br>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.input :ingredient_id, collection: @collection, prompt: "Select Ingredient" %>
          <%= link_to '< Back', cocktail_path(@cocktail), class:"btn btn-primary" %>
          <%= f.submit "Add Dose", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>